html(lang="en")
  head
    title Glorybreaker 0.0.1
    block scripts
    style
      link(rel="stylesheet", href="/styles/base.css"
  body(class=body_class)
    #header
      block header
    #content
      block content
    #footer
      block footer
